{% extends "base.html" %}
{% block left_content %}
<div class="col-md-8">
    <h3>Add/Edit Feature</h3>
    <form class="form-horizontal" action="{% url 'features:add_edit_feature' %}" method="POST">
        {% csrf_token %}
        {{ feature_form.non_field_errors }}
        <div class="form-group"><!--has-error has-feedback-->
            {{ feature_form.title.errors }}
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="title" name="title" placeholder={{ feature_form.title }}/>
                <!--<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>-->
                <!--<span id="titleError" class="sr-only">(error)</span>-->
            </div>
        </div>
        <div class="form-group">
            {{ feature_form.description.errors }}
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-5">
                <textarea class="form-control" id="description" name="description"
                placeholder="{{ feature_form.description }}"></textarea>
            </div>
        </div>
        <div class="form-group">
            {{ feature_form.clients.errors }}
            <label for="clients" class="col-sm-2 control-label">Clients</label>
            <div class="col-sm-5">
                <select class="form-control" id="clients" name="clients">
                    {% for client in feature_form.clients %}
                    <option value={{ client }}></option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            {{ feature_form.priority.errors }}
            <label for="priority" class="col-sm-2 control-label">Priority</label>
            <div class="col-sm-1">
                <input type="number" class="form-control" id="priority" name="priority" placeholder="{{ feature_form.priority }}">
            </div>
        </div>
        <div class="form-group">
            {{ feature_form.target_date.errors }}
            <label for="target_date" class="col-sm-2 control-label">Target Date</label>
            <div class="col-sm-2">
                <input type="date" class="form-control" id="target_date" name="target_date" placeholder="{{ feature_form.target_date }}">
            </div>
        </div>
        <div class="form-group">
            {{ feature_form.ticket_url.errors }}
            <label for="ticket_url" class="col-sm-2 control-label">Ticket URL</label>
            <div class="col-sm-5">
                <input type="url" class="form-control" id="ticket_url" name="ticket_url" placeholder={{ feature_form.ticket_url }}/>
            </div>
        </div>
        <div class="form-group">
            {{ feature_form.product_area.errors }}
            <label for="product_area" class="col-sm-2 control-label">Product Area</label>
            <div class="col-sm-5">
                <select class="form-control" id="product_area" name="product_area">
                    {% for product in feature_form.product_area %}
                    <option value={{ product }}></option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">&nbsp;</label>
            <div class="col-sm-5">
                <input class="btn btn-primary" type="submit" value="Save">
            </div>
        </div>
    </form>
</div>
{% endblock %}